<%= form_for review do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :content %>
  <%= f.text_field :content %>
</p>

<%= f.hidden_field :product_id %>

<p><%= f.submit %></p>

<% end %>
