<% if @review.errors.any? %>
  <div class="error_explanation">
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [product, review] do |f| %>

<p>
  <%= f.text_area :content, placeholder: "Please write your review" %>
</p>

<p>
  <%= f.label :rating %>
  <%= f.select(:rating, [1, 2, 3, 4, 5]) %>
</p>

<p><%= f.submit %></p>

<% end %>
