<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to("Products", root_path) %></li>
          <li><%= link_to('New Product', new_product_path) %></li>
          <li><%= link_to'Sign Up', new_users_path %></li>
        </ul>
      </nav>
    </header>

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="altert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
